.social_button ul{
    display: block;
    float: right;
    list-style: none;
}
.social_button{
    padding: 20px 0px 0px 0px;
}
.social_button ul li{
    padding: 0 3px;
    display: inline-block;
    float: left;
}
.social_button ul li a i{
    color: #697585;
    font-size: 26px;
}
.social_button_person{
    padding-left: 20px!important;
}
.menu_top{
    background-color:white !important;
    border-color: white!important;
    
}
.menu_top img{
    width: 250px;
}
.menu_top ul{
    margin-top: 70px;
}
.menu_top ul li{
    padding-left: 20px;
}
.menu_top ul li a{
    padding-right: 0px;
    color: #2d6747!important;
    font-size: 22px;
}
.news_top{
    max-height: 50vh;
}

main{
    padding-top: 30px;
}
img{
    width: 100%;
}
.main_opis a{
    max-width: 50vh;
    color: #2d6747!important;
    padding: 6px;
    display: block;
    border: 1px solid #2d6747;
    text-align: center;
    height: 36px;
    text-decoration: none!important;
}
.main_news_right{
    border-left: 1px solid #2d6747;
}
.news-right-mini{
    padding: 20px 0px 0px 0px;
}




/*Навигация ССНТО ПРОЕКТЫ СОБЫТИЯ*/
.nav_main_razdel{
    padding: 100px 0px 100px 0px;
}
.navigate_razdel{
    max-height: 212px;
    position: relative!important;
}
/*Второй новостной блок*/
.mini-left-mini{
    margin-top: 10px;
    border: 1px solid #2d6747;
}
.mini-left-mini p{
    padding: 10px 0px 10px 0px; 
}
.news_block_two_right img{
    max-width: 97vh;
    max-height: 52vh;
}

 .news_block_two_right a{
     max-width: 50vh;
    color: #2d6747!important;
    padding: 6px;
    display: block;
    border: 1px solid #2d6747;
    text-align: center;
    height: 36px;
    text-decoration: none!important;
}

.news_block_three{
    padding: 100px 0px 100px 0px;
}

.news_three{
    max-width: 555px;
    height: 15vh;
    opacity: 0.7;
    background-color: #2d6747;
    position: absolute;
    bottom: 0;
}
.news_three h3{
    padding-left: 10px;
    color: white;
}
.news_three p{
    padding-left: 10px;
    color: white;
    font-size: 19px;
}
/*Slider*/
.slider{
    padding: 50px 0px 50px 0px;
}
.slick-slide{
    margin: 0px 10px 0px 10px;
}
.slick-prev:before {
    content: '' !important;
}
.slick-next:before {
    content: '' !important;
}
.slick-prev{
        left: 5px!important;
    top: 150px!important;
    z-index: 9999;
    background-repeat: no-repeat!important;
    background-image: url(../img/left.png)!important;
    width: 50px!important;
    height: 140px!important;
}
.slick-next{
       right: -15px!important;
    top: 150px!important;
    z-index: 9999;
    background-repeat: no-repeat!important;
    background-image: url(../img/right.png)!important;
    width: 50px!important;
    height: 140px!important;
}




.form{
    margin-bottom: 100px;
    background-color: #b9c4d3;
}
.form form{
    padding: 45px 0px 45px 0px;
}
.form input{
    border: none;
    width:100%;
    padding-left: 20px;
    height: 40px;
}
.form input[type=submit]{
    border: none;
    padding-left: 0px;
    background-color: #2d6747;
    width:100%;
    color: white;
    height: 40px;
}




.footer{
    min-height: 30vh;
    background-color: #2d6747;
}
.footer h4{
   color: white;
}


.footer ul{
    display: block;
    float: right;
    list-style: none;
}
.footer{
    padding: 20px 0px 0px 0px;
}
.footer ul li{
    padding: 0 3px;
    display: inline-block;
}
.footer ul li a i{
    color: white;
    font-size: 26px;
}

@media (max-width:1000px) {
        
        .menu_top ul{
            margin-top: 42px;
        }
        .menu_top ul li a{
            font-size: 16px;
        }
        .menu_top img{
            width: 150px;
        }
}

@media (max-width:765px){
    .news_block_three{
        display: none;
    }
    .main_photo img{
        width: 90vw;
    }
}